.aboutme__image-container{
    padding: 1rem;
    width: 35%;
    text-align: right;
}
.aboutme__image{
    border-radius: 50%;
    width:250px;
    height:250px;
}
.aboutme__content{
    padding: 1rem;
    width:65%;
}
.blog__image{
    width:100%;
}