.aboutme__image-container{
    padding: 1rem;
    width: 100%;
    text-align: center;
    @media (min-width:$medium-breakpoint) {
        text-align: right;
        width: 35%;
    }
}
.aboutme__image{
    border-radius: 50%;
    width:250px;
    height:250px;
}
.aboutme__content{
    padding: 1rem;
    width:100%;
    text-align: center;
    @media (min-width:$medium-breakpoint) {
        width: 65%;
        text-align: left;
    }
}
.blog__image{
    width:100%;
}