
.footer{
    grid-row: 12/13;
    background-color: #4285f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer__info a{
    color: white;
    text-decoration: none;
    padding: 0rem 0.2rem;
  } 
  .footer p{
    margin: 0;
    color: white;
  }